* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 0;
  padding: 3px;

  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(1, 1, 0, 0.3);
  letter-spacing: 4px;
}

.logo {
  padding: 5px;
  margin: 5px;
}

.logo:hover {
  background-color: #e0e0e0;
}

.logo a:visited,
.nav-list a:visited {
  color: black;
}

.logo-br {
  margin-left: 15px;
  margin-right: 5px;

  font-size: 15px;
  font-weight: bold;
}

.logo-architect {
  font-size: 15px;
  padding: 15px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.nav-list {
  font-size: 15px;
  padding: 0px 30px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px 25px;
}

.nav-item {
  padding: 5px 10px;
}

.nav-item:hover {
  width: 100%;
  background-color: #e0e0e0;
}

.bg-image-top {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 85vh;
  margin: 0 auto;
  padding-top: 75px;

  background-image: url(./assets/images/architect.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.bg-name {
  color: white;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 4px;
}

.bg-br {
  background-color: #000000;
  padding: 8px 16px;
  opacity: 0.75;
  font-weight: bold;
}

.main-wrapper {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

figure {
  margin: 0px 10px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.project-item img {
  max-width: 100%;
  height: auto;
}

.project-item {
  position: relative;
}

.image-name {
  font-size: 18px;
  color: white;
  background-color: black;
  padding: 8px 16px;

  position: absolute;
  top: 0px;
}

.about-section-name,
.projects-section-name {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  padding-top: 75px;
}

.about-info {
  font-size: 15px;
  padding: 0;
  margin-bottom: 50px;
}

.team-members-list {
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.member-card img {
  max-width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.member-card {
  list-style-type: none;
}

.member-name {
  font-size: 24px;
}

.member-position {
  font-size: 15px;
  color: grey;
}

.button-wrapper {
  background-color: #e0e0e0;

  display: flex;
  justify-content: center;
}

.contact-button {
  width: 100%;
  background-color: #e0e0e0;
  color: #333333;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  font-size: 15px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #b4b2b2;
}

.bg-image-bottom {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

footer {
  color: white;
  background-color: black;
  font: 15px verdana sans-serif;
}

.footer-wrapper {
  padding: 20px;

  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: baseline;
}

.footer-wrapper a:visited {
  color: #ffffff;
}

.footer-wrapper a:hover {
  color: green;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .bg-image-top {
    width: 100%;
    height: 60vh;
  }

  .team-members-list {
    flex-wrap: wrap;
  }

  .member-card {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .project-grid {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .bg-image-bottom {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .bg-image-top {
    width: 100%;
    height: 40vh;
  }

  .team-members-list {
    display: flex;
    flex-direction: column;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .bg-image-bottom img {
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-width: 600px;
  }
}
